<h2>About The Q&A Message Board</h2>

<p>The The Q&A Message Board website was created to explore the wonderful world of Ember.js. This project allows us to ask questions and have other users answer them traversing the pathways of the Ember framework!</p>
