<ul>
  {{#each model.questions as |question|}}
    {{question-tile question=question update="update" destroyQuestion="destroyQuestion"}}
  {{/each}}
</ul>
<br>
{{new-question save2="save3"}}

<br>
All Answers:
<ul>
  {{#each model.answers as |answer|}}
    <li>{{answer.text}}</li>
  {{/each}}
</ul>
